*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    max-width: 1140px;
    margin: 0 auto;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}

.header-nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;

}

.header-container .header-img{
    margin: 16px 0 16px 120px;
}

.header-container .header-btn{
    margin: 24px 120px 24px 0;
}

.header-btn button{
    background-color: #30B868;
    font-size: 16px;
    color: #FFFFFF;
    border-style: none;
    padding: 12px 16px;
    border-radius: 4px;
}

.header-container .header-nav{
    margin: 34px 0;
}

.header-nav li a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}


