* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #FFFFFF;
}

/* header section */
.header-container {
    max-width: 100%;
    margin: 0 auto;
    /* background-color: aqua;  */
    display: flex;
    justify-content: space-between;
}

.header-nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.header-container .header-img {
    margin: 16px 0 16px 60px;
}

.header-container .header-btn {
    margin: 24px 60px 24px 0;
}

.header-btn button {
    background-color: #30B868;
    font-size: 16px;
    color: #FFFFFF;
    border-style: none;
    padding: 12px 16px;
    border-radius: 4px;
}

.header-btn button:hover {
    background-color: #FFFFFF;
    color: #30B868;
}

.header-container .header-nav {
    margin: 34px 0;
}

.header-nav li a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}

/* hero section */
.hero-container {
    background-image: url('assets/hero-bg.png');
    max-width: 100%;
    margin: 0 auto;
    padding: 115px 120px 179px;
    text-align: center;
}

.hero-output {
    padding: 8px 12px;
    background-color: #FFFFFF;
    color: #30B868;
    font-size: 16px;
    border-radius: 1000px;
    margin: 0 400.5px 16px;
}

.hero-container h1 {
    font-size: 65px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 162px 16px;
}

.hero-container .hero-txt {
    font-size: 18px;
    color: #FFFFFF;
    margin: 0 80px 32px;
}

.hero-button .btn {
    padding: 12px 16px;
    border-radius: 4px;
    border: 0.5px solid rgba(255, 255, 255, 0.301);
    color: #FFFFFF;
    cursor: pointer;
}

.hero-button #btn1 {
    background-color: #30B868;
}

.hero-button #btn1:hover {
    background-color: #FFFFFF;
    color: #30B868;
}
/* 
.hero-button .b:hover {
    background-color: ;
} */

/* card section */
.card-container {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}

.card-heading h3 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-bottom: 16px;
}

.card-heading p {
    font-size: 16px;
    color: #627382;
}

.card-type {
    max-width: 90%;
    margin: 44px auto;
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.common-card {
    border: 0.5px solid rgba(0, 0, 0, 0.247);
    border-radius: 8px;
    padding: 22px 10px;
}

.common-card img {
    background-color: #f95555;
    border-radius: 50%;
    padding: 8px; 
}

.common-card h5 {
    font-size: 22px;
    font-weight: 900;
    color: #001931;
    padding-bottom: 10px;
}

.common-card p {
    font-size: 14px;
    color: #627382;
}






